/* container styling */

#productImg {
  max-width: 400px;
}

@media screen and (max-width: 700px) {
  #productImg {
    max-width: 350px;
  }
}

.productWrapper3 {
  max-width: 80%;
}

.shop_c1 p {
  max-width: 65ch;
  color: var(--green);
  font-family: Asap;
}

.longDescription {
  max-width: 75ch;
  align-self: flex-start;
}

.productWrapper3 {
  display: flex;
  align-items: flex-start;
}

.widthClass2 {
  width: 80%;
  display: flex;
  align-items: center;
}

.product_box1 {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: flex-start;
}

.product_box2 {
  display: flex;
  align-items: center;
  color: var(--green);
}

.productTitle {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--green);
  font-family: Andada Pro;
}

@media screen and (max-width: 700px) {
  .productTitle {
    font-size: 35px;
  }
}

.product_h2 {
  color: var(--green);
  font-family: Asap;
}

.product_p,
.product_h3,
.price,
a {
  color: var(--green);
  font-family: Asap;
}

.productInfo a {
  padding-top: 20px;
}

.productInfo a:hover {
  text-decoration: underline;
}

.price {
  font-family: Andada Pro;
  font-size: 25px;
}

.shortDescription {
  text-transform: uppercase;
  font-weight: bold;
}

.product_wrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 150px;
  margin-bottom: 100px;
  /* flex-wrap: wrap; */
}

/* Hides the sidescroll */

body {
  overflow-x: hidden;
}

/* makes row-reverse in narrow view */

@media screen and (max-width: 1000px) {
  .product_wrapper2 {
    flex-direction: column-reverse;
  }
}
